
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    min-height: 100dvh;  /* Adapts to viewport changes dynamically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;   /*1rem Equals 16px */
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem 1rem;  
    border-radius: 15px;
    text-align: center;
    width: min(90%, 500px);
    min-height: clamp(400px, 80vh, 700px);

}


h1{
    font-size: clamp(1.5rem, 5vw, 3rem); /* clamp(minimum, preferred, maximum) function for responsive font sizing.
                                            Minimum: 1.5rem,Preferred: 5vw (5% of the viewport width),Maximum: 3rem */
    margin-bottom: 1.5rem;
}

h2 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    margin: 1.5rem 0;
}

#scoreDiv {
    
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem;
}


.score {
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

#playDiv {
    
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
    opacity: 0;

}

.play {
    font-size: clamp(2rem, 10vh, 6rem);
    /* padding: 1rem 2rem; */
}


#options {
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 3vw, 2rem);
    margin: 2rem 0;
}
            

.option {

    background: none;
    border: 2px solid white;
    border-radius: 50%;
    width: clamp(60px, 12vh, 100px);
    height: clamp(60px, 12vh, 100px);
    font-size: clamp(1.5rem, 6vh, 3rem);


}

.option:hover {
    background: rgba(200, 200, 200, 0.2);
    cursor: pointer;
}

#display{
    min-height: 3rem;
    margin: 1rem 0;
    opacity: 0;
}

#display-result{
    font-size: clamp(1.2rem, 4vw, 2rem);
    color: #cd1111;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


#restart {

    background: #e74c3c;
    border: none;
    padding: clamp(0.5rem, 2vw, 0.8rem) clamp(1rem, 4vw, 2rem);
    font-size: clamp(0.9rem, 3vw, 1rem);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

#restart:hover {
    background: #2c0a92;
}


